@model List<ResultFeatureDto>
@{
    ViewData["Title"] = "CreateFeatureByCarId";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int carId = ViewBag.CarId;
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Araca Ait Özellikler Ekleme Sayfası</h4>
                        <form method="post">
                            @foreach (var feature in Model)
                            {
                                <div class="form-check">
                                    <input type="checkbox"
                                           name="FeatureIDs"
                                           value="@feature.FeatureID"
                                           class="form-check-input"
                                           id="feature_@feature.FeatureID" />
                                    <label class="form-check-label" for="feature_@feature.FeatureID">
                                        @feature.Name
                                    </label>
                                </div>
                            }

                            <input type="hidden" name="CarID" value="@carId" />

                            <br />
                            <button type="submit" class="btn btn-primary">Araca Özellikleri Ata</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
